.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a16fb8;
  overflow: hidden;
}
.catChair {
  position: absolute;
  bottom: -230px;
  left: -100px;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e1452;
  border-radius: 200px;
}
.contentReturnBookshelfCat {
  position: fixed;
  width: 400px;
  height: 430px;
  bottom: 70px;
  left: 40px;
  right: 0;
}
.flashCardButtonsContainer {
  position: fixed;
  aspect-ratio: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.flashCard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  background-color: var(--flashCard);
  border-radius: 40px;
  padding: 100px;
  height: 400px;
  cursor: pointer;
  min-width: 400px;
}
.changeCardButton {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 50px;
  background-color: var(--flashCard);
  border-radius: 20px;
  height: 100px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  margin: 20px;
  margin-bottom: 0px;
}
