@media (max-width: 768px) {
  header {
    display: none;
  }
  content {
    display: flex;
    height: 100%;
  }
  select {
    width: 100%;
  }
  details {
    background-color: var(--paper);
    padding: 10px;
    font-size: medium;
    border: 1px solid var(--dusty);
    border-bottom: 0;
    justify-content: center;
    background-color: var(--light);
  }
  .container {
    overflow-y: scroll;
    height: 100%;
  }
  .noDisplayOnMedia {
    display: none;
  }
  .pageContainer {
    flex: 1;
    position: relative;
    width: auto;
  }
  .page {
    height: 100%;
    overflow-y: none;
  }
  .title .headerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: 2px solid var(--borders);
    margin: 0;
    padding: 0;
    background-color: var(--paper);
  }
  .title {
    width: auto;
    padding: 20px;
    font-size: large;
  }
  .headerButtonContainer {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: stretch;
  }
  .headerButtons {
    background-color: var(--light);
    font-size: large;
  }
  .select-dropdown {
    background-color: var(--light);
  }
  .mobile-content {
    display: block;
    box-sizing: border-box;
  }
  .flashCardContainer {
    flex: 0;
  }
  .flashCard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border-radius: 40px;
    padding: 20px;
    height: 250px;
    cursor: pointer;
    min-width: 300px;
  }
  .changeCardButton {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: x-large;
    border-radius: 20px;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    margin: 10px;
    margin-bottom: 0px;
  }
  .catContainer {
    display: none;
  }
  .bookshelf {
    background-color: var(--paper);
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
}
