.checkbox-button-container {
    display: inline-block;
    position: relative;
  }
  
  .checkbox-button-input {
    /* Hide the checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  
  .checkbox-button-label {
    display: inline-block;
    /* padding: 5px 5px 4px 4px; */
    padding: 0.25em 0.25em 0.15em 0.15em;
    background-color: var(--paper); /* white background */
    color: var(--textColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    /* font-size: 16px; */
    transition: background-color 0.3s, transform 0.3s;
    position: relative; /* Ensure label is positioned relative to the container */
    width: 100%;
    height: 100%;
  }
  
  .checkbox-button-label:hover {
    background-color: var(--hoverPaper); /* Darker blue on hover */
  }
  
  .checkbox-button-input:checked + .checkbox-button-label {
    background-color: var(--light); /* pink background when checked */
  }